# Python Phase - Region

This code will be the skeleton part for our Construc Week Project Approach. This file consists of all the major part of the analysis takes place and finally, connecting MySQL databases for it to import all the files and therefore creating a final dashboard. 

For the following phase, we have a total number of 7 datasets in which all of them are unclean meaning, they are not aligned and have a clustered set of results. In order to get ahead of it, each particular dataset has been arranged to ensure the data has been assigned to their particular columns. 

We shall now begin the basic EDA (Exploratory Data Analysis) and ensure each dataset has been cleaned and is set to be used in creating a database and then the dashboard.

In [1]:
# Importing all the essential libraries for the analysis to be done.
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Importing libraries to connect and inject all the values from the dataset into the database server.
from sqlalchemy import create_engine
import mysql.connector

In [2]:
# Creating a connector so that the server can be connected here.
db_connector = mysql.connector.connect(
    host = "127.0.0.1",       
    username = "root",
    password = "MySQL12345",
    database = "patternseekers"
)

# A custom message that displays if the operation has been successful.
print(f"You have successfully connected to your database.")

You have successfully connected to your database.

In [3]:
# This engine will be another verification so that all the records made here can be added into the database.
engine = create_engine(f"mysql+mysqlconnector://{"root"}:{"MySQL12345"}@{"127.0.0.1"}/{"patternseekers"}")
print("The connection to the MySQL Engine is now functional.")

The connection to the MySQL Engine is now functional.

In [5]:
# Locating the dataset path and assigning it to a new dataframe.
file_path = "Region [FIXED].csv"
region_df = pd.read_csv(file_path)

# Displaying the dataframe to check out the table. 
region_df

   SalesTerritoryKey          Region         Country          Group
0                  1       Northwest   United States  North America
1                  2       Northeast   United States  North America
2                  3         Central   United States  North America
3                  4       Southwest   United States  North America
4                  5       Southeast   United States  North America
5                  6          Canada          Canada  North America
6                  7          France          France         Europe
7                  8         Germany         Germany         Europe
8                  9       Australia       Australia        Pacific
9                 10  United Kingdom  United Kingdom         Europe

In [6]:
# Displaying the basic information of the dataset. 
region_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SalesTerritoryKey  10 non-null     int64
 1   Region             10 non-null     object
 2   Country            10 non-null     object
 3   Group              10 non-null     object
dtypes: int64(1), object(3)
memory usage: 452.0+ bytes

In [7]:
# Calling out the total number of NULL values present in the table and displaying how many are there.
region_df.isnull().sum()

SalesTerritoryKey    0
Region               0
Country              0
Group                0
dtype: int64

In [8]:
# Identifying the data types to see what we will be dealing with.
region_df.dtypes

SalesTerritoryKey     int64
Region               object
Country              object
Group                object
dtype: object

In [9]:
# Removing the duplicate values from the dataset (if they exist).
region_df = region_df.drop_duplicates()
region_df

   SalesTerritoryKey          Region         Country          Group
0                  1       Northwest   United States  North America
1                  2       Northeast   United States  North America
2                  3         Central   United States  North America
3                  4       Southwest   United States  North America
4                  5       Southeast   United States  North America
5                  6          Canada          Canada  North America
6                  7          France          France         Europe
7                  8         Germany         Germany         Europe
8                  9       Australia       Australia        Pacific
9                 10  United Kingdom  United Kingdom         Europe

In [10]:
# Checking out the summary of the following dataset in terms of statistics.
region_df.describe(include='all')

        SalesTerritoryKey     Region        Country          Group
count            10.00000         10             10             10
unique                NaN         10              6              3
top                   NaN  Northwest  United States  North America
freq                  NaN          1              5              6
mean              5.50000        NaN            NaN            NaN
std               3.02765        NaN            NaN            NaN
min               1.00000        NaN            NaN            NaN
25%               3.25000        NaN            NaN            NaN
50%               5.50000        NaN            NaN            NaN
75%               7.75000        NaN            NaN            NaN
max              10.00000        NaN            NaN            NaN

In [11]:
# Pushing all the data into the MySQL database.
region_df.to_sql(
    name = 'Region',
    con=engine,
    index = False,
    if_exists = 'append'
)

# Custom message to ensure the operation has been completed successfully.
print("Table 'Region' has been created and data has been inserted successfully.")

Table 'Region' has been created and data has been inserted successfully.

C:\Users\hamad\AppData\Local\Temp\ipykernel_15808\2880590309.py:2: UserWarning: The provided table name 'Region' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  region_df.to_sql(